<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="">  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">

		<form action="" method="POST" role="form">
			<legend>Tạo Tài Khoản User</legend>

			<div class="form-group">
				<label for="">Tên</label>
				<input type="text" name="name" class="form-control" id="" placeholder="vd :Phạm Tiến Đạt">
			</div>

			<div class="form-group">
				<label for="">Ngày Sinh</label>
				<input type="date" name="daybirthday" class="form-control" id="" placeholder="20/10/1995">
			</div>

			<div class="form-group">
				<label for="">Giới Tính</label>
				<select name="" id="input"  name="sex" class="form-control" required="required">
					<option value="Nam">Nam</option>
					<option value="Nữ">Nữ</option>
					<option value="Khác">Khác</option>
				</select>
			</div>


			<div class="form-group">
				<label for="">Sở Thích</label>
				<textarea name="like" id="input" class="form-control" rows="3" required="required" placeholder="Đá Banh ..."></textarea>
			</div>

			<div class="form-group">
				<label for="">Địa Chỉ</label>
				<input type="text" name="location" class="form-control" id="" placeholder="127 Văn Côi ,Quận Tân Bình ,TP.HCM">
			</div>



			<button type="submit" class="btn btn-primary">Submit</button>
			<button type="reset" class="btn btn-warning">Reset</button>
		</form>

	</div>
	<!-- end container -->



	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>	