<h1>Phạm Ngọc Hoàng</h1>
<section id="applicants">
    <h1>List of applicants</h1>

    <ul>
        <% for (applicant in data) { %>

      
        <li><%= data[applicant].name %></li>
        <% } %>
    </ul>
</section>