<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="">
	<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
	<script src="~/Scripts/jquery-1.9.1.min.js"></script>
	<script src="~/Scripts/bootstrap.min.js"></script>
	<link rel="stylesheet" href="">  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
	<div class="container" style="width: 50%;">
		<!-- Start -form -->
		<form action="" method="POST" role="form">
		<legend>Đây Là Form Update</legend>
			<div class="well">
				<div class="row">
					<div class="col-md-4">
						<label>First Name</label>
					</div>
					<div class="col-md-8">
						<input type="text" />
					</div>
				</div>
				<br />
				<div class="row">
					<div class="col-md-4">
						<label>Last Name</label>
					</div>
					<div class="col-md-8">
						<input type="text" />
					</div>
				</div>
				<br />
				<div class="row">
					<div class="col-md-4">
						<label>Email ID</label>
					</div>
					<div class="col-md-8">
						<input type="text" />
					</div>
				</div>
				<br />
				<div class="row">
					<div class="col-md-4">
						<label>Country</label>
					</div>
					<div class="col-md-8">
						<select>
							<option>India</option>
							<option>USA</option>
							<option>South Africa</option>
						</select>
					</div>
				</div>
				<br />
				<div class="row">
					<div class="col-md-offset-4 col-md-8 text-right">
						<button type="button" class="btn btn-success">
							<span class="glyphicon glyphicon-saved"></span>Save
						</button>
						<button type="button" class="btn btn-danger">
							<span class="glyphicon glyphicon-trash"></span>Delete
						</button>
						<button type="reset" class="btn btn-primary">
							<span class="glyphicon glyphicon-remove-sign"></span>Clear
						</button>
					</div>
				</div>
			</div>
		</form>
		<!-- End -form -->
	</div>
	
</body>
</html>
